nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") CosmosPeople
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 一萬小時 INTRO
      li
        a(href="#section_about") 關於他們 ABOUT
      li
        a(href="#section_video") 專輯單曲 VEDIO
      
      li
        a(href="#section_other") 推薦歌單 OTHER
      
      li
        a(href="http://www.epochtimes.com/b5/15/5/28/n4444803.htm" target="_blank") 了解更多 MORE
    
header.jumbotron
  .container
    h1 宇宙人 
    hr
    h4 貫徹堅持就可成真
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        hr
        h2 《一萬小時》       
section#section_about
  .container
    .row
      .col-sm-12
        h1 關於宇宙人
        hr
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/7E5mcK", alt="")
        hr
        h3 成員介紹
        p 主唱兼鍵盤手-小玉(左)
        p 吉他手-阿奎(中)
        p 貝斯手-方Q(右)
        p 宇宙人樂團成立於2004年的暑假，由同樣是畢業於建國中學的鍵盤手－小玉和吉他手－阿奎所組成。小玉和阿奎在高中時期就熟識，因為有一群熱愛街舞的共同朋友，所以自然而然地對舞曲產生興趣，並開始鑽研最具律動感的黑人放客 (Funk) 舞曲。高中畢業之後，兩人開始組團創作音樂，原先是用小玉的人聲Beat-box 配上阿奎的Funk吉他創作，後來陸續加入鍵盤、爵士鼓、貝斯等樂器，創作至今已經超過8年。現任的貝斯手為阿奎高中熱門音樂社的學長方Q。
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/yPCU5i", alt="")
        hr
        h3 團名由來
        p 2004年的暑假，雅典奧運會期間，小玉和好友前往日本參加一場街舞盛會，飯店裡的電視播放著奧運男子跨欄項目的決賽，有一位選手Félix Sánchez，多明尼加籍的選手，他在賽前熱身時點亮了手上炫麗的LED發光手環，並跳起自創舞步，完全沉浸在自己的宇宙裡，厲害的是，最後他還拿下了該項目的金牌榮耀。這個令人讚嘆的表現，讓他們蹦出了一個絕妙形容詞：「這個人好宇宙！」幾個月後，主唱小玉和高中好友吉他手阿奎組了一個以舞曲風為主的樂團，開始創作歌曲，並積極參加各式各樣的表演，因為報名演出需要團名，他們說：「那就叫宇宙人好了」，從此，宇宙人誕生。
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/hCX6wj", alt="")
        hr
        h3 音樂作品
        h5 單曲
        p 《不簡單 (Not Easy)》
        p 《拿下這一場 (OLAO)》
        h5 專輯
        p 2009年《宇宙人同名專輯》
        p 2012年《地球漫步》
        p 2015年《一萬小時 (10000 hours)》
        p 2017年《右腦RIGHT NOW》
        h5 EP
        p 《001.5名偵探敗給心上人》
        
section#section_video
  .container
    .row
      .col-sm-12
        h1  [ 10000 HOURS 一萬小時 ]
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/uXEiWgnzSKU', allowfullscreen='')
  
section#section_other
  .container
      .row
        .col-sm-12
          h1 推薦歌單
          hr
        .col-sm-4
          h3 如果我們還在一起
          p 好啊，我們終究成為了過去的旁觀者。 
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/mBB_67OxXIo',allowfullscreen='')
        .col-sm-4
          h3 你以為
          p 為什麼總是愛上，那個不把我們當一回事的人？
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/2xq0l0sTOCw',allowfullscreen='')
        .col-sm-4
          h3 不簡單
          p 當日子變得困難，我們只能活的不簡單
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/oRauaQO50IY',allowfullscreen='')
  